# Postgres Configuration
POSTGRES_USERNAME="root"
POSTGRES_PASSWRD="root"
POSTGRES_HOST="pg-database-server"
POSTGRES_PORT=5432
POSTGRES_DATABASE="transcriber_local_db"
POSTGRES_APP_SCHEMA="public"

# Redis Configuration
REDIS_HOST="redis-server"
REDIS_PORT="6379"
REDIS_DB="0"
REDIS_PASSWORD=""
REDIS_QUEUE_NAME="jobs"

CONFIG_INI_PATH="./etc/config.ini"

SQLALCHEMY_DATABASE_MIGRATION_URL="postgresql://root:root@pg-database-server:5432/transcriber_local_db"

PORT=8083

# Custom OAuth configuration
CUSTOM_OAUTH_SECRET_KEY="I8K1GY37XtAe5DbBgRdKzQ6nrdk=" # use `openssl rand -base64 20` to generate one
CUSTOM_OAUTH_BOOTSTRAP_ADMIN=1
CUSTOM_OAUTH_BOOTSTRAP_ADMIN_EMAIL="admin@admin.com"
CUSTOM_OAUTH_BOOTSTRAP_ADMIN_PASSWORD="admin"

# Logging configuration
ENABLE_RICH_LOGGER=0
ENABLE_JSON_FILELOGGER=0
